################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FizzBuzzJazzFuzz/.vs/FizzBuzzJazzFuzz/v16
